<html>
   <style type="text/css">
      #footer {
         padding: 0;
      }
	  
      .content-footer {
         width: 100%;
         background-color: white;
         color: black;
         padding: 5px;
         -webkit-print-color-adjust: exact;
         vertical-align: middle;
         font-style: italic;
         font-size: 10px;
         margin-top: 0;
         display: inline-block;
         text-align: center;
      }

      .content-footer-right {
         float: right;
      }
   </style>
   <body>
      <div class="content-footer">
         Page <span class="pageNumber"></span> of <span class="totalPages"></span>
         {{- if .Logo}}
         <div class="content-footer-right">
            <img src="{{embed .Logo}}" height="25" alt="Logo" />
         </div>
         {{- end}}
      </div>
   </body>
</html>
