name: package
run-name: Package plugin

on:
  workflow_call:

jobs:
  package:
    name: package
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'yarn'

      - name: Download build artifacts
        uses: actions/download-artifact@v7
        with:
          name: build-artifacts
          path: dist

      # Remove this once plugin review has been submitted
      - name: Package plugin
        # Grafana Labs review needs the plugin file in zip format with sha1 checksum
        run: |
          # Upload/Download artifacts wont preserve permissions
          # https://github.com/actions/upload-artifact?tab=readme-ov-file#permission-loss
          # Add +x bits on executables
          chmod -R 0755 dist/gpx_*
          
          mv dist mahendrapaipuri-dashboardreporter-app
          zip mahendrapaipuri-dashboardreporter-app-nightly.zip mahendrapaipuri-dashboardreporter-app -r
          sha1sum mahendrapaipuri-dashboardreporter-app-nightly.zip | cut -f1 -d' ' > mahendrapaipuri-dashboardreporter-app-nightly.zip.sha1

      - name: Validate plugin
        run: |
          wget https://raw.githubusercontent.com/grafana/plugin-validator/refs/heads/main/config/pipeline.yaml
          npx @grafana/plugin-validator@latest -sourceCodeUri file://. -config ./pipeline.yaml mahendrapaipuri-dashboardreporter-app-nightly.zip
        shell: bash

      # Check if bootstrap script is working for latest release and nightly release
      - name: Check bootstrap script
        continue-on-error: true
        run: |
          mkdir -p latest
          cd latest
          ../scripts/bootstrap-dashboard-reporter-app.sh
          cd ..

          mkdir -p nightly
          cd nightly
          NIGHTLY=1 ../scripts/bootstrap-dashboard-reporter-app.sh
          cd ..
        shell: bash

      - name: Upload plugin artifacts
        uses: actions/upload-artifact@v6
        with:
          name: plugin-artifacts
          path: |
            mahendrapaipuri-dashboardreporter-app-nightly.zip
            mahendrapaipuri-dashboardreporter-app-nightly.zip.sha1
          retention-days: 3
      
      - name: Release nightly
        uses: softprops/action-gh-release@v2
        # Only run on main branch
        if: github.ref == 'refs/heads/main'
        with:
          prerelease: true
          name: nightly
          tag_name: nightly
          files: |
            mahendrapaipuri-dashboardreporter-app-nightly.zip
            mahendrapaipuri-dashboardreporter-app-nightly.zip.sha1
          fail_on_unmatched_files: true
          body: |
            # Latest Build Complete! :rocket:
            
            For the public download links of these build artifacts, please see:
            <https://github.com/mahendrapaipuri/grafana-dashboard-reporter-app/releases/tag/nightly>
