# This action is synced from https://github.com/prometheus/prometheus
name: golangci-lint
run-name: Lint

on:
  workflow_call:

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.x

      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6.2
          args: --timeout=10m
