name: e2e-tests
run-name: End2End tests

on:
  workflow_call:

jobs:
  tests:
    name: tests
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          # Grafana v10 with user cookie and with feature flags although they are not
          # available in Grafana. Plugin should skip checks based on feature flags
          - grafana-version: 10.3.0
            remote-chrome-url: ''
            snapshots-folder: local-chrome-10.3.0
            feature-flags: 'accessControlOnCall,idForwarding,externalServiceAccounts'

          # Grafana v10 without user cookie and feature flags
          - grafana-version: 10.4.5
            remote-chrome-url: ''
            snapshots-folder: local-chrome-10.4.5
            feature-flags: 'accessControlOnCall,idForwarding,externalServiceAccounts'

          # Grafana v10 without user cookie and feature flags for only service accounts.
          # In this case Grafana should skip access control checks
          - grafana-version: 10.4.5
            remote-chrome-url: ws://localhost:9222
            snapshots-folder: remote-chrome-10.4.5
            feature-flags: 'externalServiceAccounts'

          # Latest Grafana with remote chrome
          - grafana-version: 11.1.0
            remote-chrome-url: ws://localhost:9222
            snapshots-folder: remote-chrome-11.1.0
            feature-flags: 'accessControlOnCall,idForwarding,externalServiceAccounts'

    steps:
      - uses: actions/checkout@v4

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: dist

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable --prefer-offline

      # Install chrome as we will use it in e2e tests
      - name: Install browsers
        run: yarn playwright install

      - name: Run e2e tests
        env:
          GRAFANA_VERSION: ${{ matrix.grafana-version }}
          GF_REPORTER_PLUGIN_REMOTE_CHROME_URL: ${{ matrix.remote-chrome-url }}
        run: |
          # Upload/Download artifacts wont preserve permissions
          # https://github.com/actions/upload-artifact?tab=readme-ov-file#permission-loss
          # Add +x bits on executables
          chmod -R +x dist/gpx_*
 
          # Start containers
          yarn e2e:server:up

          # Sleep for a while for containers to be up and running
          sleep 20

          # Run e2e tests
          yarn e2e

          # Run API tests
          yarn e2e:report

          # yarn e2e:server:down

      - name: Compare PDF report from plain server
        uses: nowsprinting/diff-pdf-action@v1
        with:
          file1: default.pdf
          file2: .ci/reports/${{ matrix.snapshots-folder }}/default.pdf
          options: --verbose --output-diff=default-${{ matrix.snapshots-folder }}-diff.pdf
      
      - name: Compare PDF report from TLS server
        uses: nowsprinting/diff-pdf-action@v1
        with:
          file1: alternative.pdf
          file2: .ci/reports/${{ matrix.snapshots-folder }}/alternative.pdf
          options: --verbose --output-diff=alternative-${{ matrix.snapshots-folder }}-diff.pdf

      - name: Collect docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2
        with:
          dest: docker-logs

      - name: Upload UI Test artifacts
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: ui-test-output-${{ matrix.grafana-version }}
          path: |
            test-results
            docker-logs
            default*.pdf
            alternative*.pdf
          retention-days: 1
